@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,500&family=Reenie+Beanie&family=Rubik+Mono+One&family=Teko:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,500&family=Reenie+Beanie&family=Rubik+Mono+One&display=swap');
body {
    background-color: #622d2d;
    transition:background-color 4s ease-in-out;
}

.card {
    background-color: rgb(255, 255, 255);
    width:10cm;
    height:6cm;
    margin: auto;
    border: rgb(0, 0, 0) 2px solid;
    border-radius: 15px;
    transition:background-color 4s ease-in-out,box-shadow 4s;
    box-shadow: 0px 0px 300px -10px rgba(255,255,255,1);
   
}
.card:hover {
    cursor:crosshair;
}

.bankname {
    transform: translate(250px,-10px);
    font-family: 'Kanit', sans-serif;
}

.department{
    transform: translate(215px,-40px);
    font-family: 'Kanit', sans-serif;
}

.chip {
    height:80px;
    width:100px;
    transform: translate(5px,-90px);
}

.number {
    color: rgb(0, 0, 0);
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    transform: translate(95px,-100px);
}

.CREBIT {
    width: 100%;
    text-align: center;
    font-size: 100px;
    color: white;
    font-family: "Teko",serif;
    transition: color 4s ease-in-out;
    
}

.name {
    color: rgba(0, 0, 0, 0.408);
    margin: auto;
    font-family: 'Teko', sans-serif;
    font-size: 15px;
    transform: translate(130px,-100px);
}

.BLUE {
    border: rgb(255, 0, 0) 5px solid;
    border-radius: 20px;
    margin-left: 39.15%;
    transform: translateY(50px);
    padding:15px;
    font-family: 'Kanit',sans-serif;
    font-size: 20px;
    transition:background-color 0.3s, color 0.3s, opacity 4s;
    
}

.BLUE:hover {
    cursor: pointer;
    background-color:#ff0000 ;
    color:white;
}
